@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/*HEADER*/

nav {
	background-color: #2B2E35;
}
.menu li {
	display: inline-block;
	margin-right: 10px;
	padding-top: 14px;

}
.menu a {
	color:white;
	text-decoration: none;
} 
.logo {
	padding-top: 10px;
}
.logo, .menu {
	display: inline-block;
}

/*CAJA VERDE*/
.caja-verde-padre {
	background-color: #4DCD7A;
	height: 200px;
}
.green-box {
	padding-top: 80px;
}
.green-box h1, small, a {
	color: white;
}
.green-box li {
	display: inline-block;
	margin-top: 40px;

}
.green-box a {
	text-decoration: none;
	margin-right: 10px;: 
}

/*CAJA GRIS*/
.grey-box {
	background-color: #E0DFDF;
	height: 440px;
}
.title-grey h2, small {
	color: #807E7E;
}
.title-grey {
	padding-top: 40px;
	padding-bottom: 40px;
}
.img-circle {
	border-radius: 50%;
	background-color: #909090;
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
.form-control textarea {
	width: 360px;
	height: 320px;
}
.form-group {
	width: 390px;
}
.contacto {
	padding-top: 50px;
}
.contacto-message {
	padding-top: 90px;
}

/*CAJA PIE*/
.caja-pie {
	background-color: #2c3e50;
	color: #C7C6C6;
	height: 500px;
}
.lista-pie {
	display: block;
}
.text-blog {
	display: block;
}

/*CAJA FIN*/

.pie  {
	background-color: #212f3d;
}
.pie a {
	color: #C7C6C6;
}
.pie p, i {
	padding-top: 14px;
	color: #C7C6C6;
}